home/
logs/
.idea/
mysql/
redis/
grafana/
!grafana/env.grafana
prometheus/
!prometheus/config/prometheus.yml
!prometheus/config/rule.yml
certbot/
nginx-proxy-manager/
application.yml
.vscode/
node_modules/
.next/
.swc/
.*.env
.env